# terraform.tfstate
# terraform.tfstate.backup
# /.terraform/*
# /generated/*
# .terraform.lock.hcl
# .terraform.tfstate.lock.info


/generated/*
**/.terraform/*
*.tfstate
*.tfstate.*
*.deploy_k8s.sh.swp
/.terraform.*
