.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.6/windows_amd64/terraform-provider-tls_v4.0.6_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.6/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.33.0/windows_amd64/terraform-provider-kubernetes_v2.33.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.33.0/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/cloudinit/2.3.5/windows_amd64/terraform-provider-cloudinit_v2.3.5_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/cloudinit/2.3.5/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/5.77.0/windows_amd64/terraform-provider-aws_v5.77.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/5.77.0/windows_amd64/LICENSE.txt
.terraform/modules/modules.json
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate
terraform.tfstate
.terraform.tfstate.lock.info
.terraform/providers/registry.terraform.io/hashicorp/null/3.2.3/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/null/3.2.3/windows_amd64/terraform-provider-null_v3.2.3_x5.exe

.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.34.0/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.34.0/windows_amd64/terraform-provider-kubernetes_v2.34.0_x5.exe
.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/windows_amd64/LICENSE
.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_amd64/terraform-provider-template_v2.2.0_x4.exe
.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/windows_amd64/CHANGELOG.md
.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/windows_amd64/README.md
.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/windows_amd64/terraform-provider-docker_v3.0.2.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/5.78.0/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/5.78.0/windows_amd64/terraform-provider-aws_v5.78.0_x5.exe
.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.15.0/windows_amd64/CHANGELOG.md
.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.15.0/windows_amd64/LICENSE
.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.15.0/windows_amd64/README.md
.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.15.0/windows_amd64/terraform-provider-docker_v2.15.0.exe
